<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AppCanalDoacao</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>BeneficiarioDetalhe.jsp</welcome-file>
    <welcome-file>BrinquedoDetalhe.jsp</welcome-file>
    <welcome-file>DoacaoDetalhe.jsp</welcome-file>
    <welcome-file>UsuarioController</welcome-file>
    <welcome-file>usuarioCadastro.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>controle.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeneficiarioController</display-name>
    <servlet-name>BeneficiarioController</servlet-name>
    <servlet-class>controle.BeneficiarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeneficiarioController</servlet-name>
    <url-pattern>/BeneficiarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrinquedoController</display-name>
    <servlet-name>BrinquedoController</servlet-name>
    <servlet-class>controle.BrinquedoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrinquedoController</servlet-name>
    <url-pattern>/BrinquedoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoupaController</display-name>
    <servlet-name>RoupaController</servlet-name>
    <servlet-class>controle.RoupaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoupaController</servlet-name>
    <url-pattern>/RoupaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescartavelController</display-name>
    <servlet-name>DescartavelController</servlet-name>
    <servlet-class>controle.DescartavelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescartavelController</servlet-name>
    <url-pattern>/DescartavelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoacaoController</display-name>
    <servlet-name>DoacaoController</servlet-name>
    <servlet-class>controle.DoacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoacaoController</servlet-name>
    <url-pattern>/DoacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcessoController</display-name>
    <servlet-name>AcessoController</servlet-name>
    <servlet-class>controle.AcessoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcessoController</servlet-name>
    <url-pattern>/AcessoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaDoacaoController</display-name>
    <servlet-name>ConsultaDoacaoController</servlet-name>
    <servlet-class>controle.ConsultaDoacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaDoacaoController</servlet-name>
    <url-pattern>/ConsultaDoacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExclusaoDoacaoController</display-name>
    <servlet-name>ExclusaoDoacaoController</servlet-name>
    <servlet-class>controle.ExclusaoDoacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExclusaoDoacaoController</servlet-name>
    <url-pattern>/ExclusaoDoacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoDoacaoController</display-name>
    <servlet-name>ProdutoDoacaoController</servlet-name>
    <servlet-class>controle.ProdutoDoacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoDoacaoController</servlet-name>
    <url-pattern>/ProdutoDoacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolicitanteDoacaoController</display-name>
    <servlet-name>SolicitanteDoacaoController</servlet-name>
    <servlet-class>controle.SolicitanteDoacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitanteDoacaoController</servlet-name>
    <url-pattern>/SolicitanteDoacaoController</url-pattern>
  </servlet-mapping>
</web-app>